GOOGLE_API_KEY=ABCXYZ
OPEN_SUBTITLES_API_KEY=ABCXYZ
OPEN_SUBTITLES_USER=user
OPEN_SUBTITLES_PASSWORD=passwd
LANGSMITH_API_KEY=ABCXYZ
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_TRACING=true