GOOGLE_API_KEY=replace-me
OPEN_SUBTITLES_API_KEY=replace-me
OPEN_SUBTITLES_USER=replace-me
OPEN_SUBTITLES_PASSWORD=replace-me
LANGSMITH_API_KEY=replace-me
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com
LANGSMITH_TRACING=true
