<div class="episode-summary">
  <h3 class="episode-summary__title">{{ summary.title }}</h3>

  <p class="episode-summary__recap">{{ revealedText() }}</p>

  @if (revealedKeyEvents() > 0) {
  <div class="episode-summary__section">
    <h4 class="episode-summary__section-heading">Key Events</h4>
    <ul class="episode-summary__list">
      @for (event of summary.key_events; track $index) {
      @if ($index < revealedKeyEvents()) {
      <li class="episode-summary__reveal-item">{{ event }}</li>
      }
      }
    </ul>
  </div>
  }

  @if (charactersVisible()) {
  <div class="episode-summary__section episode-summary__reveal-item">
    <h4 class="episode-summary__section-heading">Characters</h4>
    <ul class="episode-summary__list episode-summary__list--inline">
      @for (character of summary.characters; track $index) {
      <li>{{ character }}</li>
      }
    </ul>
  </div>
  }

  @if (revealedScenes() > 0) {
  <div class="episode-summary__section">
    <h4 class="episode-summary__section-heading">Scene Breakdown</h4>
    @for (chunk of summary.chunk_summaries; track chunk.chunk_number) {
    @if ($index < revealedScenes()) {
    <div class="episode-summary__chunk episode-summary__reveal-item">
      <p class="episode-summary__chunk-title">{{ chunk.title }}</p>
      <p class="episode-summary__chunk-text">{{ chunk.summary }}</p>
    </div>
    }
    }
  </div>
  }
</div>
